{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Interactive Calendar</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <ul>
          <li><a href="{% url 'home' %}" class="left brand-logo">&nbsp;&nbsp;Interactive Calendar</a></li>
        </ul>
        <ul class="right">
          <li><a href="{% url 'about' %}">About</a></li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'calendar_index' %}">Calendar</a></li>
            <li><a href="{% url 'activities_index' %}">My Activities</a></li>
            <li><a href="{% url 'activities_create' %}">Add Manual Activity</a></li>
            <li><a href="{% url 'sleep_index' %}">My Sleep</a></li>
            <li><a href="{% url 'sleep_create' %}">Add Sleep</a></li>
            <li><a href="{% url 'dashboard_index' %}">My Dashboard</a></li>
            <li><form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit">Log Out</button>
          </form></li>
          {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer">
    <div class="right">All Rights Reserved, &copy; 2024 Interactive Calendar &nbsp;</div>
  </footer>
</body>
</html>