{% extends 'base.html' %} {% block content %} {% block extra_css %}
<style>
  #month-year {
    font-size: 4vw; 
    margin-bottom: 2vh; 
    text-align: center;
  }

  .calendar {
    margin-top: 2vh; 
  }

  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
  }

  .day {
    text-align: center;
    padding: 1vh; 
    border: 1px solid #ddd;
  }

  .day-title {
    text-align: center;
    padding: 1vh; 
    font-weight: bold;
    font-size: 2vw; 
  }

  .day-titles {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    margin-bottom: 1vh; 
  }

  .day-title-item {
    font-weight: bold;
    font-size: 1.5vw; 
  }

  .day:hover {
    background-color: #b1e5ff;
    cursor: pointer;
  }

  .current-day {
    background-color: #039be5; 
    color: white; 
    font-weight: bold;
  }

  .nav-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vh; 
  }

  .nav-button {
    padding: 1vh 2vw; 
    border-radius: 5px;
    background-color: #039be5;
    color: white;
    cursor: pointer;
    font-size: 2vw; 
  }
</style>
{% endblock %}

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Calendar</title>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
  />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <span class="card-title" id="month-year"></span>

            <div class="row nav-buttons">
              <div class="col s6">
                <button
                  class="btn waves-effect waves-light nav-button"
                  id="prev-month"
                >
                  <i class="material-icons">arrow_back</i>
                </button>
              </div>
              <div class="col s6">
                <button
                  class="btn waves-effect waves-light nav-button right"
                  id="next-month"
                >
                  <i class="material-icons">arrow_forward</i>
                </button>
              </div>
            </div>

            <div class="day-titles">
              <div class="day-title-item">Sun</div>
              <div class="day-title-item">Mon</div>
              <div class="day-title-item">Tue</div>
              <div class="day-title-item">Wed</div>
              <div class="day-title-item">Thu</div>
              <div class="day-title-item">Fri</div>
              <div class="day-title-item">Sat</div>
            </div>

            <div class="calendar">
              <div class="row">
                <div class="col s12">
                  <div class="days">
                    <!-- Days will be dynamically generated here -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Add Data Modal -->
<div id="addDataModal" class="modal">
  <div class="modal-content">
      {% for activity in activities %}
          <p>{{ activity.name }}</p>

      {% empty %}
          <p>No activities for selected date</p>
      {% endfor %}

      {% for sleep in sleeps %}
          <p>Bedtime: {{ sleep.bedtime }}</p>
          <p>Awake: {{ sleep.awake }}</p>

      {% empty %}
          <p>No sleep data for selected date</p>
      {% endfor %}

      <h4>Add Sleep or Activity Data</h4>
      <p>What would you like to add?</p>
      <div class="row">
          <div class="col s6">
              <button class="btn waves-effect waves-light" id="addSleepBtn">
                  Add Sleep
              </button>
          </div>
          <div class="col s6">
              <button class="btn waves-effect waves-light" id="addActivityBtn">
                  Add Activity
              </button>
          </div>
      </div>
  </div>
</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const prevMonthBtn = document.getElementById("prev-month");
      const nextMonthBtn = document.getElementById("next-month");
      const monthYearText = document.getElementById("month-year");
      const daysContainer = document.querySelector(".days");
  
      // Get current date
      const today = new Date();
      let currentMonth = today.getMonth();
      let currentYear = today.getFullYear();
  
      // Initialize the modal and its event listeners
      let dataModal;
  
      function initializeModal() {
        // Get modal instance
        const addDataModal = document.getElementById("addDataModal");
        dataModal = M.Modal.init(addDataModal);
  
        const dayElements = document.querySelectorAll(".day");
        dayElements.forEach((day) => {
          day.addEventListener("click", function () {
            dataModal.open();
          });
        });
  
        const addSleepBtn = document.getElementById("addSleepBtn");
        addSleepBtn.addEventListener("click", function () {
          dataModal.close();
          window.location.href = "/sleep/create";
        });
  
        const addActivityBtn = document.getElementById("addActivityBtn");
        addActivityBtn.addEventListener("click", function () {
          dataModal.close();
          window.location.href = "/activities/create";
        });
      }
  
      function renderCalendar(month, year) {
        // Clear previous calendar
        daysContainer.innerHTML = "";
  
        monthYearText.textContent = `${getMonthName(month)} ${year}`;
  
        const firstDayOfMonth = new Date(year, month, 1);
        const startDayOfWeek = firstDayOfMonth.getDay(); // 0 for Sunday, 1 for Monday
  
        const numDaysInMonth = new Date(year, month + 1, 0).getDate();
  
        for (let i = 0; i < startDayOfWeek; i++) {
          const prevMonthDay = numDaysInMonth - startDayOfWeek + i + 1;
          const dayElement = createDayElement(prevMonthDay, "other-month");
          daysContainer.appendChild(dayElement);
        }
  
        for (let day = 1; day <= numDaysInMonth; day++) {
          const className =
            day === today.getDate() &&
            month === today.getMonth() &&
            year === today.getFullYear()
              ? "current-day"
              : "current-month"; 
          const dayElement = createDayElement(day, className);
          daysContainer.appendChild(dayElement);
        }
  
        initializeModal();
      }
  
      function createDayElement(day, className) {
        const dayElement = document.createElement("div");
        dayElement.textContent = day;
        dayElement.className = `day ${className}`;
        return dayElement;
      }
  
      function getMonthName(month) {
        const monthNames = [
          "January",
          "February",
          "March",
          "April",
          "May",
          "June",
          "July",
          "August",
          "September",
          "October",
          "November",
          "December",
        ];
        return monthNames[month];
      }
  
      renderCalendar(currentMonth, currentYear);
  
      prevMonthBtn.addEventListener("click", function () {
        currentMonth--;
        if (currentMonth < 0) {
          currentMonth = 11;
          currentYear--;
        }
        renderCalendar(currentMonth, currentYear);
      });
  
      nextMonthBtn.addEventListener("click", function () {
        currentMonth++;
        if (currentMonth > 11) {
          currentMonth = 0;
          currentYear++;
        }
        renderCalendar(currentMonth, currentYear);
      });
    });
  </script>
</body>
{% endblock %}
