{% extends 'base.html' %}
{% block content %}

<h1>My Activities</h1>

{% for activity in activities %}
<div class="card">
    <a href="{% url 'activities_detail' activity.id %}">
        <div class="card-content">
            <span class="card-title">{{ activity.name }}</span>
            <p><b>Description: </b>{{ activity.description|linebreaks }}</p>
            <p><b>Date: </b>{{ activity.date }}</p>
            {% if activity.type == 'Run' %}
                <p><b>Time: </b>{{ activity.time }}</p>
                <p><b>Distance: </b>{{ activity.distance }}m</p>
                <p><b>Total Elevation Gain: </b>{{ activity.elevationgain }}</p>
                <p><b>Calories: </b>{{ activity.calories }}cal</p>
            {% elif activity.type == 'Ride' %}
                <p><b>Time: </b>{{ activity.time }}</p>
                <p><b>Distance: </b>{{ activity.distance }}m</p>
                <p><b>Total Elevation Gain: </b>{{ activity.elevationgain }}m</p>
                <p><b>Calories: </b>{{ activity.calories }}cal</p>
            {% elif activity.type == 'Swim' %}
                <p><b>Time: </b>{{ activity.time }}</p>
                <p><b>Distance: </b>{{ activity.distance }}m</p>
                <p><b>Calories: </b>{{ activity.calories }}cal</p>
            {% elif activity.type == 'Walk' %}
                <p><b>Time: </b>{{ activity.time }}</p>
                <p><b>Distance: </b>{{ activity.distance }}m</p>
                <p><b>Total Elevation Gain: </b>{{ activity.elevationgain }}</p>
                <p>Calories: {{ activity.calories }}cal</p>
            {% elif activity.type == 'Gym' %}
                <p><b>Time: </b>{{ activity.time }}</p>
                <p><b>Calories: </b>{{ activity.calories }}cal</p>
            {% elif activity.type == 'Yoga' %}
                <p><b>Time: </b>{{ activity.time }}</p>
                <p><b>Calories: </b>{{ activity.calories }}cal</p>
            {% elif activity.type == 'Other' %}
                <p><b>Time: </b>{{ activity.time }}</p>
                <p><b>Calories: </b>{{ activity.calories }}cal</p>
            {% endif %}
        </div>
    </a>
</div>
{% endfor %}

{% endblock %}